@model GET_Biblioteka.Models.RezervacijeViewModel

@{
    ViewData["Title"] = "Index";
}

@{
    Layout = "_Layout";
}

<h1>Zahtevi za rezervaciju</h1>

<table class="table" id="reservations-table">
    <thead>
        <tr>
            <th>Knjiga</th>
            <th>Korisnik</th>
            <th>Prihvati</th>
            <th>Odbij</th>
        </tr>
    </thead>
    <tbody>
        @{ if (Model.Rezervacije != null)
            {
                @foreach (var item in Model.Rezervacije)
                {
                <tr>
                    <td>@item.NazivKnjige</td>
                    <td>@item.UserName</td>
                    <td>
                        <form asp-controller="IznajmljenaKnjiga" asp-action="CreateIssuedBook" method="post">
                            <input type="hidden" id="bookId" name="bookId" value="@item.KnjigaID" />
                            <input type="hidden" id="userId" name="userId" value="@item.UserId" />
                            <input type="hidden" id="reservationId" name="reservationId" value="@item.RezervacijaID" />
                            <button class="btn btn-primary" type="submit">Prihvati</button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Rezervacija" asp-action="DeleteReservation" method="post">
                            <input type="hidden" id="reservationId" name="reservationId" value="@item.RezervacijaID" />
                            <button class="btn btn-danger" type="submit" >Odbij</button>
                        </form>
                    </td>
                </tr>
                }
                }
            }
    </tbody>
</table>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalRhub.js"></script>
