@model GET_Biblioteka.Models.IznajmljenaKnjiga

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IznajmljenaKnjiga</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KnjigaID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KnjigaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatumVracanja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatumVracanja)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IznajmljenaKnjigaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
